:root {
    --point-size: 15;
}

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#svg {
    width: 100vw;
    height: calc(100vh - env(safe-area-inset-bottom));
    background-color: #f0f0f0;
}

.control-point {
    position: fixed;
    width: calc(var(--point-size) * 1px);
    height: calc(var(--point-size) * 1px);
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
}